<ion-header>
  <ion-toolbar>
    <ion-title routerLink='/main/tabs/home'>MindSpace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password">
  <ion-item>
    <h3>Reset Password</h3>
  </ion-item>

  <ion-item>
    <p>Please enter your email address to request a password reset.</p>
    <!-- <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required> -->
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email" #passwordResetEmail required></ion-input>
  </ion-item>

  <!-- Calling ForgotPassword from AuthService Api -->
  <ion-button color="success" (click)="resetPassword(passwordResetEmail.value)" expand="block" shape="round">Reset
    Password
  </ion-button>
  <ion-item>
    <span>Go back to <span class="redirect" routerLink="/auth">Log In</span></span>
  </ion-item>
</ion-content>
