<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!--The tab attribute is the unique identifier of each tab button-->
    <!-- The tab for HomePage include emotions map and list -->
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <!--The tab for Explore single emotion-->
    <ion-tab-button tab="explore">
      <ion-label>Explore</ion-label>
      <ion-icon name="fitness-outline"></ion-icon>
    </ion-tab-button>
    <!--The tab for Insights-->
    <!-- <ion-tab-button tab="insights">
      <ion-label>Insights</ion-label>
      <ion-icon name="bulb-outline"></ion-icon>
    </ion-tab-button> -->
    <!--The tab for Timeline-->
    <ion-tab-button tab="strategies">
      <ion-label>Strategies</ion-label>
      <ion-icon name="reader-outline"></ion-icon>
    </ion-tab-button>
    <!--The tab for Timeline-->
    <ion-tab-button tab="timeline">
      <ion-label>Timeline</ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
