img.avatar {
  display: block;
  margin: 20px auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: grey;

  #happy {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: yellow;
  }
  #excited {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
  }
  #sad {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: blue;
  }
  #anger {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
  }
  #fear {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: plum;
  }
  #disgust {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightseagreen;
  }
  #neutral {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: grey;
  }
}
