.dashboard {
  text-align: center;

  ion-button {
    margin: 30px auto 20px auto;
    width: 75%;
  }

  .avatar {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}
